body {
    padding: 10% 15%;
    text-decoration: none;
    background-color: var(--footerBG);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    
    footer{

        display: flex;

        flex-direction: row;
        justify-content:center;
        #desc{
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            margin:0;
            flex:0;

            img{
                margin: 20px 0;
                margin-right: auto;
            }
            p {
                padding: 0 0px;
                text-align: left;
                
            }
            ul{
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                // justify-content:center;
            

                display: grid;
                grid-template-columns: 70px 70px 70px 70px;
                // padding-right: 100px;
                grid-area: "twitter facebook insta linkedin";
                li{
                    // padding: 0 50%;
                    // margin: 0 50%
                    
                }
                
            }
        }
        div {
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-around;
            
    
            p {
                color: var(--greyText);
            }
            ul{
                display: grid;
                grid-template-columns: 35% 25% 35%;
                grid-area: "Resources Useful-links Newsletter";
                
                

                display: flex;
                flex-direction: row;
                align-items:first baseline;
                justify-content: space-between;
                padding: 10px 0;
                li{
                    // display: flex;

                    list-style-type: none;
                    margin: 0 20px;
                    ul {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content:center;

                        display: grid;
                        grid-template-columns: auto;

                        
                        li {

                            // padding: 0 80%;

                            h3 {
                                color: white;
                                padding: 10px 0;
                            }
                            list-style-type: none;
                            color: var(--greyText);
                            padding: 5px 0;
                        }
                    }
                }
            }

            
        }

    }
    
}

#sendButton {
    background-color: var(--sendButtonBG);
    color: white;
    border: none;
    border-radius:  0 5px 5px 0;
    padding: 10px 25px;

}

#newsList{
    display: flex;
    flex-direction: column;
    li{
        div{
            form{
                display: flex;
            }
        }
    }

}

#form {
    margin:0;
    
    input {
        padding: 10px 25px;
        border-radius: 5px 0 0 5px;
        background-color: var(--footerBG);
        border: solid 1px var(--greyText);

    }
}

.hr {
    // margin: 0 5%;
    border-color: var(--hrGrey);
}
.copyright{
    margin: 0;
    text-align: center;
}