body {
    color: var(--white);
    background: linear-gradient(var(--purple), var(--lightpurple2));
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0 10%;

    div{
        ul{
            li {
                list-style-type: none;
                
                a {
                    color: var(--white);
                    text-decoration: none;
                    }
                }
            }
        }
    }
    div {
        h1 {
            margin: 25px 50% 0 0;

        }
        p {
            margin: 25px 50% 0 0;
        }
        
    }





.blueButtons {
    color: var(--white);
    background-color: var(--primaryLightBlue);
    padding: 20px 30px;
    margin: 25px 0;
    border-radius: 5px;
    border: 0px;
}

