body {
    color: var(--white);
    background: linear-gradient(to right, var(--purple), var(--lightpurple2));
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0 10%;

    div{
        ul{
            li {
                list-style-type: none;
                
                a {
                    color: var(--white);
                    text-decoration: none;
                    }
                }
            }
        }
    }
    div {
        h1 {
            margin: 25px 50% 0 0;

        }
        p {
            margin: 25px 50% 0 0;
        }
        
    }
    #contentDiv {
        display: flex;
        

        
        div{
             
            flex-direction: column;
            margin-right: 0%;
            
            // img{
            //     display: flex;
            //     margin-left: auto;
            //     justify-content: flex-end;
            //     align-items: center;
            // }

        }
    }

    #bgImageDiv{
        background-image: url("../../img/hero.png");
        height: 562px;
        width: 752px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }



.blueButtons {
    color: var(--white);
    background-color: var(--primaryLightBlue);
    padding: 20px 30px;
    margin: 25px 0;
    border-radius: 5px;
    border: 0px;
}

