body {
    background-color: #5319a6;
    color: var(--white);

}

    
.blueButtons{
    color: var(--white);
    background-color: var(--primaryLightBlue);
    padding: 10px 20px;
    border-radius: 5px;
    }


