body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(248, 248, 248);
    
    text-decoration: none;
    div {
        text-align: center;
        background-color: white;
        padding: 10px;
    }
    div{
        margin: 5% 25% ;
        border-radius: 10px;
        ul {

            li {
                list-style-type: none;
                margin: 10px 40px;
                padding: 10px 20px;

                .hr {
                  margin:5px 20%;
                }
            }
        }
    }
}

.focusPackage{
  border: solid 3px var(--purpleFocus);
}

.normalButton{
  color: var(--normalButtonText);
  background-color: var(--normalButtonBG);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 20px 30px;
  padding: 20px 30px;
}

.focusButton {
  color: white;
  background-color: var(--focusButtonBG);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 20px 30px;
  padding: 20px 30px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }