/* =============
    Header
============= */

header{
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    @include lg {
        padding: 24px 0px;
    }
        
    #topHeader {

        @include lg{
            
            width: auto;
            
        }
        padding: 0 24px;
        display: flex;
        
        width: 100%;
        justify-content:space-between;
        nav {
            display: none;
            @include lg {
                display: flex;
                justify-content: flex-end;
            }
        }
        #logo-container {
            // border: 1px solid red;
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            grid-area: logo;
            
        }
        #burger-container {
            // border: 1px solid blue;
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            grid-area: burg;

            @include lg {
                display: none;
            }
    
        }

    }
    

    

    nav {
        // display: none;
        // border: 1px solid rgb(49, 138, 222);

        display: flex;
        justify-content: flex-end;
        @include lg {
            display: none;
        }
        
        // grid-area: nav;
    }

    .SignIns {
        // display: none;
        // border: 1px solid green;

        // grid-area: sign;

    }
}