/* =============
    Buttons
============= */

button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: rgb(79, 137, 245);
}

#send {
    background-color:deepskyblue;
    padding: 16px 30px;
    border-radius: 10px; 
}

#cancel {
    background-color:cornsilk;
    color: black;
    padding: 16px 30px;
    border-radius: 10px; 
}

#closeButton {
    background-color: red;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}