/* =============
    Buttons
============= */

button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#send {
    background-color:deepskyblue;
    padding: 16px 30px;
    border-radius: 10px; 
}

#cancel {
    background-color:cornsilk;
    color: black;
    padding: 16px 30px;
    border-radius: 10px; 
}