/* =============
    Navigation
============= */


.showMiniNav {
    display:flex !important;
    justify-content: flex-end;
}


a {
    text-decoration: none;
}


nav {
    // border: 1px solid purple;

    ul {
        display: flex;
        flex-direction:column;
        align-items: flex-end;
        width: 100%;

        @include lg {
            flex-direction: row;
            justify-content: center;
            align-items:flex-end;
        }
        
        li:last-child {
            border: none;
        }
        
        // border: 1px solid purple;
        li {
            // margin-left: 100%;
            // padding-left: 100%;
            border-bottom: 1px solid purple;
            width: 100%;
            text-align: right;
            @include lg {
                border: none;
                text-align: center;
            }
            
            a:link, a:visited {
                padding: 24px;
                width: 100%;
                // border: 1px solid red;
                display: inline-block;
                color: var(--black);
                transition: .25s;
                text-wrap: nowrap;
            }

            a:hover, a:active{
                color: var(--lightgrey)

            }

            .SignIns{
                display: flex;
                flex-direction: row;
                padding: 15px 24px 0 0;
                justify-content: flex-end;
                border: none;
                
                #signin {
                    background-color: var(--darkaqua);
                    color: var(--white);
                    border:none;
                    border-radius: 10px;
                    padding: 15px 40px;
                    margin: 0 20px 0 0;
                    text-wrap: nowrap;
                }
                #signin:hover {
                    background-color: var();
                }
                #signup {
                    background-color: var(--white);
                    color: var(--darkaqua);
                    border: 1px solid var(--darkaqua);
                    border-radius: 10px;
                    padding: 15px 40px;
                    margin: 0 0 0 20px;
                    text-wrap: nowrap;
                }
            }
        }
    }
}
